<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-page"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center header-margin-left">Orders</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>

      <ion-item>

        <!-- <ion-col size="4"> -->
          <pagination-controls id="listing" (pageChange)="pageChanged($event)" previousLabel="Previous" nextLabel="Next"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        <!-- </ion-col> -->
      </ion-item>
      <!-- <ion-row> -->
      <ion-item>
        <ion-col size="3">
          <ion-label><b>Store Name</b></ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label><b>total Amount </b></ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label><b>Customer Name and area</b></ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label><b>Order Status</b></ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label><b>Order Date</b></ion-label>
        </ion-col>
      </ion-item>
      <!-- </ion-row> -->
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ngx-ui-loader [loaderId]="'loader-order-list'" class="full"></ngx-ui-loader>
  <ion-refresher slot="fixed" pullFactor="0.9" pullMin="60" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing..." class="ion-padding-top-refresh">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>

    <!-- <ion-item *ngFor="let item of categoryData; let i = index" [routerLink]="['./update', item._id]"> -->
    <!-- <ion-item *ngFor="let item of data | paginate: {id: 'listing', itemsPerPage: 10, currentPage: this.filter.page, totalItems: totalCount}"> -->

    <ion-item
      *ngFor="let item of data | paginate: {id: 'listing', itemsPerPage: this.filter.count, currentPage: this.filter.page, totalItems: totalCount}"
      class="table-listing" (click)="order_info(item._id)">





      <ion-col size="3">
        <ion-text>{{ item?.storeName }}</ion-text> <br>
      </ion-col>
      <ion-col size="2">
        <ion-text> &#8377;{{ item?.totalCartCost }}</ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-text> <b>{{ item?.address.fullName }}</b><br>{{ item?.address.area }} </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-text>{{ item?.orderStatus }}</ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-text>{{ item?.createdAt | date:'medium':'UTC +5:30'}}</ion-text>
      </ion-col>

          <!-- <ion-button routerDirection="forward" [routerLink]="['./update', item._id]" (click)="openLink(item._id)">Edit</ion-button> -->
          <!-- <ion-button routerDirection="forward" (click)="openLink(item._id)">Edit</ion-button> -->
        <!-- </ion-text> -->
      <!-- </ion-col> -->

    </ion-item>
    <!-- <pagination-controls  id="some_id"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      maxSize="9"
                      directionLinks="true"
                      [autoHide] = true
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls> -->


  </ion-grid>





</ion-content>
