<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>
          {{'set_store_address'}}
      </ion-title>
  </ion-toolbar>
  <div class="search_box animate__animated animate__zoomIn">
      <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
      <ion-searchbar  [(ngModel)]="searchText" #search class="ion-no-padding" (ionChange)="onMapSearch($event)" searchIcon="hide" placeholder="{{'search_lcation'}}"></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
