ion-header ion-toolbar ion-title {
    padding: 0 15px !important;
    text-align: center !important;
}

ion-list {
    margin: 0;
    background: none;
    padding: 0;
    padding-top: 8px;

    h2 {
        margin: 0;
        color: var(--text-light);
        font-size: .88rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 14px;
    }

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);
        padding: 13px 20px;
        margin-bottom: 8px;

        .item_inner {
            width: 100%;
        }

        &.feature_image {
            .item_inner {
                .img_box {
                    min-width: 95px;
                    height: 95px;
                    margin-right: 24px;
                    border-radius: 4px;
                }

                h3 {
                    margin: 0;
                    color: var(--primary);
                    font-weight: 400;
                    font-size: .93rem;
                    letter-spacing: .4px;

                    ion-icon {
                        font-size: 1.7rem;
                        min-width: 35px;
                    }
                }
            }
        }

        &.address {
            p {
                margin: 0;
                font-size: 0.85rem !important;
                font-weight: 400 !important;
                color: var(--text-black);
                width: 100%;
                border-bottom: 1px solid rgba(204, 204, 204, 0.6) !important;
                padding-bottom: 7px;

                ion-icon {
                    margin: 0;
                    font-size: 1.14rem;
                    color: var(--primary);
                    min-width: 25px;
                }
            }
        }
    }

    .form {
        background: var(--white);
        padding: 20px;
        margin-bottom: 8px;

        ion-item {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;

            &.item-select {
                ion-select {
                    &::part(icon) {
                        display: none !important;
                    }
                }

                ion-icon {
                    line-height: 13px;
                    height: 15px;
                    font-size: 1.6rem;
                    color: var(--text-black);
                }
            }
        }
        &.store_timings{
            ion-row{
                ion-col{
                    padding: 0 5px;
                }
            }
        }
    }
}
ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    --animate-duration: .4s !important;

    .current_location {
        display: block;
        margin-right: 20px;
        margin-left: auto;
        margin-bottom: 20px;
        width: 44px;
        height: 44px;
        background: var(--white);
        border-radius: 50px;
        text-align: center;

        ion-icon {
            line-height: 44px;
            height: 44px;
            font-size: 1.43rem;
        }
    }

    .address {
        background: var(--bg-color);
        padding: 15px 20px;
        width: 100%;

        h2 {
            margin: 0;
            font-size: 0.75rem;
            color: var(--text-black);

            span {
                &.map_pin {
                    min-width: 25px;
                    height: 25px;
                    display: block;
                    background: url(../../../assets/images/map_pin.png);
                    background-size: contain;
                    background-position: left;
                    background-repeat: no-repeat;
                    margin-right: 4px;
                }
            }
        }
    }
}


.address {
    background: var(--bg-color);
    padding: 15px 20px;
    width: 100%;

    h2 {
        margin: 0;
        font-size: 0.75rem;
        color: var(--text-black);

        span {
            &.map_pin {
                min-width: 25px;
                height: 25px;
                display: block;
                background: url(../../../assets/images/map_pin.png);
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
                margin-right: 4px;
            }
        }
    }
}


.logoImagePosition {
    position: absolute;
    top: 115px;
    z-index: 996;
    left: 5%;
    background-color: #fff;
}

.imageSection {
    margin-bottom: 50px;
}

.drop-down-form {
    margin-top: 25px;
}


.no_network{
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.no_network_text{
  margin-left: 3em;
  margin-right: 3em;
  margin-top: -5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h6 {
    font-weight:100;
    color: #828282;
font-size:14px;
    margin-bottom: 0em;
  }
  a {
    color: #c2566a;
    .icon-padding {
      padding-right:10px;
    }
  }
}
