ion-content {
    --background: rgb(0 0 0 / 29%);


}

ion-list {
    padding: 0;
    margin: 0;
    background: var(--white);

    .list_header {
        padding: 20px;
        background: var(--bg-color);
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        .text_box {
            width: 100%;

            h2 {
                margin: 0;
                color: var(--text-black);
                font-size: 1rem;
                font-weight: 500;
                // margin-bottom: 7px;
                letter-spacing: 0.3px;
                padding-top: 5px;
                padding-bottom: 5px;

            }

            h3 {
                margin: 0;
                color: var(--text-dark);
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 0.3px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        h6 {
            margin: 0;
            padding: 7px 19px;
            border-radius: 50px;
            color: var(--primary);
            border: 1px solid var(--primary);
            font-size: .87rem;
            min-width: 84px;
            text-align: center;
            background: var(--white);
        }
    }

    ion-radio-group {
        padding: 20px 0;
        display: block;

    }

    ion-item {
        padding: 3px 20px;
        min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        --background: var(--transparent) !important;
        --background-activated: var(--transparent) !important;
        --background-activated-opacity: 1;
        --background-hover: var(--transparent) !important;
        --ripple-color: var(--transparent) !important;
        background: var(--white);
        transition: all .5s;

        h2 {
            margin: 0;
            font-weight: 400;
            letter-spacing: 0;
            font-size: 1.1rem;
            color: var(--text-black);
        }

        ion-radio {
            --color-checked: var(--primary);
            margin: 0;
            min-width: 20px;
            margin-right: 15px;
        }
    }
}

.d-flex-class {
  margin-bottom: 15px !important;
}

ion-icon {
  font-size: 2em;
  padding-left: 93%;
}

// .swiper-container {
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content:center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 28rem;
//   // object-fit: cover;
// }

// .swiper-wrapper {
//     display: flex;
//     flex-direction: row;
//     place-content: space-around space-between;
//     align-items: center;
// }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  margin-top: -29%;
}
