<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="banner animate__animated animate__zoomInUp">
        <div class="logo ion-text-center">
            <img src="assets/images/shopolite-logo.png" class="light_theme_logo">
            <img src="assets/images/shopolite-logo.png" class="dark_theme_logo">
        </div>
        <h2 class="ion-text-center"><strong>{{'delivering_almost' | translate}}</strong> {{'everything' | translate}}</h2>
    </div>
    <div class="footer_banner">
        <div class="img_box">
            <img style="position: absolute; bottom: 0;" class="footerImage" src="assets/images/logo-main.svg">
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <h3>+91</h3>
                    <ion-input mode="ios" type="number" formControlName="phoneNo" placeholder="{{'enter_mobile_number' | translate}}"></ion-input>
                    <ion-button size="large" class="btn end"  type="submit">{{'continue' | translate}}</ion-button>
                </div>
            </ion-item>
        </ion-list>
    </div>
    </form>
</ion-footer>
